@import url(https://fonts.googleapis.com/css?family=Open+Sans);
}
body{
    width:108%;
    height:auto;
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:16px;
    padding:1em;
    text-align:justify
}

#contener
{
    margin-left:-1vw;
    margin-right:-0.4vw;
    margin-top:-1.2vw;
    background-color:white;
}

.img
{
    width:2%;
    heigt:auto;
}

.cat
{
    width:150px;
    height:auto;
}

.wr
{
    color:red;
}

#page
{
    max-width:43vw;
    margin-left:30vw;
    margin-bottom:-0.5vw;
    line-height:1.6;
}

.texte-illustration {
    overflow: hidden; /* empêche le dépassement des flottants */
}
.texte-illustration .cat {
    float: left;
    margin: 5px 20px 5px 0;
}
.texte-illustration .illus-droite {
    float: right;
    margin: 5px 0 5px 20px;
}
.texte-illustration p {
    overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
}

@font-face {
font-family: 'Papyrus Condensed';
font-style: normal;
font-weight: normal;
src: local('Papyrus Condensed'), url('Papyrus-Condensed.woff') format('woff');
}

p{
}
