@import url(https://fonts.googleapis.com/css?family=Open+Sans);
}
body{
    width:108%;
    height:auto;
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:16px;
    padding:1em;
    text-align:justify
}

#contener
{
    margin-left:-1vw;
    margin-right:-0.4vw;
    margin-top:-1.2vw;
    background-color:white;
}

.img
{
    width:2%;
    heigt:auto;
}

.wr
{
    color:red;
}

#page
{
    max-width:43vw;
    margin-left:30vw;
    margin-bottom:-0.5vw;
    line-height:1.6;
}

@font-face {
font-family: 'Papyrus Condensed';
font-style: normal;
font-weight: normal;
src: local('Papyrus Condensed'), url('Papyrus-Condensed.woff') format('woff');
}

p{
}
